REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
DB_URI=
DB_NAME=
NODE_ENV=
APP_PORT=
JWT_SECRET=
HOST=
SENDGRID_API_KEY=
ELASTIC_SEARCH_HOST=
ZULFAH_EMAIL_SENDER=
JWT_EXPIRES_TIME =
PAYSTACK_SECRET_KEY=
PAYSTACK_BASEURL=
