<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmeely</title>
</head>
<body>
<h4 style="font-size: 25px">Welcome To Farmeely</h4>


    <p style="text-align: justify">Congratulations {{fullname}} on successfully activating your account. On behalf of the
        Farmeely team, we welcome to you our community</p>

    <p style="margin-top: 20px;"><b>From all of us.</b></p>

    

        
</body>
</html>